version: "3.9"

services:
  zmanim_site:
    build:
      context: .
      dockerfile: dev.Dockerfile
    container_name: zmanim_site
    ports:
      - '80:80'
    volumes:
      - './nginx.dev.conf:/etc/nginx/conf.d/default.conf:ro'
