@use "node_modules/@taiga-ui/core/styles/mixins/mixins.scss";

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  @include mixins.shadow(6);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--tui-base-01);

  padding: 0 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  .divider {
    flex: 1;
  }
}

.set-current-language-button {
  display: flex;
  flex-direction: row;
  gap: .25rem;
  justify-content: flex-start;
}

main {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &.headset {
    flex-direction: column;
  }
}
