<header>
  <h1 class="tui-text_h4">{{'default-layout.title' | translate}}</h1>
  <button *ngIf="location$ | async as location"
          tuiButton
          appearance="flat"
          size="s"
          type="button"
          (click)="openMapDialog()">
    <tui-svg src="tuiIconPin"></tui-svg>
    {{location?.cityName || ('default-layout.location' | translate)}}
  </button>
</header>

<main>
  <ng-content select="[appDefaultLayoutForm]"></ng-content>

  <tui-island>
    <ng-content select="[appDefaultLayoutInfo]"></ng-content>
  </tui-island>
</main>
