<tui-island *ngIf='zmanim$ | async as zmanim'>
  <h3 class='tui-island__title'>{{'zmanim-info.title' | translate}}</h3>
  <ng-container *ngIf='zmanim.info as info'>
    <p *ngFor='let keyvalue of info | keyvalue:compareWith'
       class='tui-island__paragraph zmanim-info-row'>
      <b>{{keyvalue.key}}</b>
      <span [ngSwitch]='keyvalue.key'>
        <ng-container *ngSwitchCase="'astronomical_hour_ma'">
          {{keyvalue.value}}
        </ng-container>
        <ng-container *ngSwitchCase="'astronomical_hour_gra'">
          {{keyvalue.value}}
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{keyvalue.value | date:'shortTime'}}
        </ng-container>
      </span>
    </p>
  </ng-container>
</tui-island>
