@font-face {
  font-family: 'Pilat Extended';
  font-weight: 900;
  src: local('PilatExtended-Heavy'), url('./fonts/PilatExtended-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Pilat Extended';
  font-weight: 800;
  src: local('PilatExtended-Black'), url('./fonts/PilatExtended-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Pilat Extended';
  font-weight: 700;
  src: local('PilatExtended-Bold'), url('./fonts/PilatExtended-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pilat Extended';
  font-weight: 600;
  src: local('PilatExtended-DemiBold'), url('./fonts/PilatExtended-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pilat Extended';
  font-weight: 500;
  src: local('PilatExtended-Regular'), url('./fonts/PilatExtended-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pilat Extended';
  font-weight: 400;
  src: local('PilatExtended-Book'), url('./fonts/PilatExtended-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Pilat Extended';
  font-weight: 300;
  src: local('PilatExtended-Light'), url('./fonts/PilatExtended-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Pilat Extended';
  font-weight: 200;
  src: local('PilatExtended-Thin'), url('./fonts/PilatExtended-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 900;
  src: local('SFProDisplay-Black'), url('./fonts/SFProDisplay-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 800;
  src: local('SFProDisplay-HeavyItalic'), url('./fonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 700;
  src: local('SFProDisplay-Bold'), url('./fonts/SFProDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 600;
  src: local('SFProDisplay-Semibold'), url('./fonts/SFProDisplay-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 500;
  src: local('SFProDisplay-Medium'), url('./fonts/SFProDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 400;
  src: local('SFProDisplay-Regular'), url('./fonts/SFProDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 300;
  src: local('SFProDisplay-Light'), url('./fonts/SFProDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 200;
  src: local('SFProDisplay-Thin'), url('./fonts/SFProDisplay-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro';
  font-weight: 100;
  src: local('SFProDisplay-Ultralight'), url('./fonts/SFProDisplay-Ultralight.ttf') format('truetype');
}
