:host {
  background-color: purple;
  padding: 1rem;
  box-shadow: 0 0 0 1px red inset;


  &.calendar-day--displayed-month {
    background-color: green;
  }

  &.calendar-day--today {
    background-color: lightgreen;;
  }

  &.calendar-day--selected {
    box-shadow: 0 0 0 5px blue inset;
  }
}
