:host {
  background-color: #ababab;
  padding: var(--calendar-gap);
  color: #000;
  font-weight: 500;
  box-shadow: 0 0 0 var(--calendar-day-border-width) #cccaca inset;

  &.calendar-day--displayed-month {
    background-color: #eeeeee;
  }

  &.calendar-day--today {
    background-color: lightgreen;
  }

  &.calendar-day--selected {
    box-shadow: 0 0 0 calc(var(--calendar-day-border-width) * 5) #acacd7 inset;
  }
}
