<div class="zmanim">
<!--  {{ zmanim$ | async | json }}-->
  <div>
    sunrise: {{sunrise}} <br>
    alos: {{alos}} <br>
    sof_zman_tefila_gra: {{sof_zman_tefila_gra}} <br>
    sof_zman_tefila_ma: {{sof_zman_tefila_ma}} <br>
    misheyakir_10_2: {{misheyakir_10_2}} <br>
    sof_zman_shema_gra: {{sof_zman_shema_gra}} <br>
    sof_zman_shema_ma: {{sof_zman_shema_ma}} <br>
    chatzos: {{chatzos}} <br>
    mincha_ketana: {{mincha_ketana}} <br>
    mincha_gedola: {{mincha_gedola}} <br>
    plag_mincha: {{plag_mincha}} <br>
    sunset: {{sunset}} <br>
    tzeis_8_5_degrees: {{tzeis_8_5_degrees}} <br>
    tzeis_72_minutes: {{tzeis_72_minutes}} <br>
    tzeis_42_minutes: {{tzeis_42_minutes}} <br>
    tzeis_5_95_degrees: {{tzeis_5_95_degrees}} <br>
    chatzot_laila: {{chatzot_laila}} <br>
    astronomical_hour_ma: {{astronomical_hour_ma}} <br>
    astronomical_hour_gra: {{astronomical_hour_gra}} <br>
  </div>



</div>
