<div class='navigation'>
  <button tuiIconButton
          size='s'
          type='button'
          (click)="onCalendarNavigateButtonClicked('sub')"
          [icon]="'tuiIconChevronLeftLarge'"></button>

  <button tuiIconButton
          size='s'
          type='button'
          (click)="onCalendarNavigateButtonClicked('add')"
          [icon]="'tuiIconChevronRightLarge'"></button>

</div>

<div class='week-days'>
  <div *ngFor='let weekDay of weekDays'
       class='week-days__day'>
    <span>{{weekDay}}</span>
  </div>
</div>
