<ng-container [formGroup]="form">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input formControlName="date"
           matInput
           [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix
                           [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<!--  <mat-form-field>-->
<!--    <mat-label>Latitude</mat-label>-->
<!--    <input formControlName="lat"-->
<!--           type="number"-->
<!--           matInput>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Longitude</mat-label>-->
<!--    <input formControlName="lng"-->
<!--           type="number"-->
<!--           matInput>-->
<!--  </mat-form-field>-->
</ng-container>
