<form [formGroup]="form">
  <ng-container formGroupName="params">
    <tui-input-date formControlName="date">
      {{'zmanim-form.date-placeholder' | translate}}
    </tui-input-date>
  </ng-container>

  <div tuiGroup
       formGroupName="coords">
    <tui-input-number formControlName="lat">
      {{'zmanim-form.latitude-placeholder' | translate}}
    </tui-input-number>
    <tui-input-number formControlName="lng">
      {{'zmanim-form.longitude-placeholder' | translate}}
    </tui-input-number>
  </div>
</form>
