:host {
  flex: 1;
  display: grid;
  grid-template-columns: var(--calendar-template-columns);

  @for $i from 4 through 6 {
    &.calendar-grid--#{$i}-weeks {
      grid-template-rows: repeat(#{$i}, 1fr);
    }
  }
}
